<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
	
	<link rel="stylesheet" href=".././assets/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href=".././style.css" />
	
</head>

<body>
	<header>
		<h1>Mundo informatica</h1>
	</header>
	<nav class="navbar navbar-expand-md">
		<div class="container-fluid">
			
			<a class="navbar-brand" href='.././index.html'><img class='nav__img' src='.././img/pc.png'/></a>
			
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUlContainer" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div id="navbarUlContainer" class='collapse navbar-collapse'>
				<ul class=" d-flex align-items-md-center navbar-nav me-auto mb-2 mb-lg-0">
					<li class="mt-2 nav-item"><a class="text-white" href="./register.html">Registrarse</a></li>
					<li class="mt-2 nav-item"><a class="text-white" href="./Login.html">Login</a></li>
					<li class="mt-2 nav-item"><a class="text-white" href="#">Tienda</a></li>
					<li class="nav-item dropdown">
						
						
						<button class="button btn text-white"
						role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
						Información
						</button>
						
						
						<ul class="dropdown-menu w-25 bg-primary">
							<li class="dropdown-item bg-primary"><a href="./info.html">Quienes somos</a></li>
							<li class="dropdown-item bg-primary"><a href="./about.html">Acerca de</a></li>
						</ul>
						
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-primary" type="submit">Search</button>
				</form>
			</div>
		</div>	
	</nav>
	<main class="container-fluid mt-4 mb-4">
	
		<div class="container-fluid">
		
			<div>
			
				<h3>¿Como surgio Mundo Informatica?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac auctor arcu, ut condimentum nulla. Sed vitae orci lacus. Morbi a nulla condimentum, viverra massa quis, efficitur urna. Phasellus sit amet sem ac nisl egestas sodales non ac est. Sed iaculis dignissim tristique. Vestibulum vestibulum viverra sapien, et eleifend nisl cursus vel. Vestibulum id vestibulum libero. Nullam volutpat arcu nunc, quis tincidunt tellus cursus quis. Sed varius, lectus quis viverra pretium, ex dui maximus ex, non feugiat nunc eros et leo. Aliquam iaculis nunc a convallis pharetra. Donec iaculis gravida finibus. </p>
			
			</div>
		
			<div>
				<h3>Conoce a la tripulación.</h3>
			</div>
			<div class="card-group">
				
				<div class="card border border-primary">
				
					<img class="p-2" src=".././img/character/female.png" alt="mujer" />
					<div class="card-body">
						<h4>lorem ipsutm</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					
				</div>
				<div class="card border border-primary">				
	
					<img class="p-2" src=".././img/character/female.png" alt="mujer" />
					<div class="card-body">
					
						<h4>lorem ipsutm</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					
				</div>
				
				<div class="card border border-primary">				
			
					<img class="p-2" src=".././img/character/female.png" alt="mujer" />
					<div class="card-body">
						<h4>lorem ipsutm</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
						
				</div>
				
				<div class="card border border-primary">				
			
					<img class="p-2" src=".././img/character/female.png" alt="mujer" />
					<div class="card-body">
						<h4>lorem ipsutm</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					
				</div>
					
			</div>
		</div>	
	</main>
	<footer class="container-fluid">
		
			<div class='footer__div row'>
			
				<div class="col-md-3 col-sm-12 col-xs-12 ">
					<p class="text-white text-center mt-4">Todos los derechos reservados 2024</p>
				</div>
				<div class="col-md-9">
					<ul class="d-flex justify-content-md-end justify-content-sm-center">
						
						<li>
							<a href="https://facebook.com">
								<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
									<path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://X.com">
								<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
									<path d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"></path>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://instagram.com">
								<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 30 30">
									<path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"></path>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>	
		
		</footer>
	
	<script src=".././assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
